
/*----------------------------------------------------
Main body styling, some taken from foobooks master project example
-----------------------------------------------------*/
/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    color: #111;

    /* sticky footer */
    position: relative;
    min-height: 100%;
    max-width: 100%;

}

body {
    text-align: center;

    /* sticky footer - match footer height */
    margin-bottom: 20px;
    position: relative;
    min-height: 100%;
    max-width: 100%;
}

section#main {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    bottom: 0;
    position: relative;

    width: 100%;
    line-height: 60px; /* Vertically center the text there */
}

footer a {
    color: #547b8c;
}

footer a:link {
    text-decoration: none;
}

footer a:hover {
    color: #041f42;
}
.title {
    color: #183e4c;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/*----------------------------------------------------
Nav bar, based off of foobooks
-----------------------------------------------------*/
nav {
    border-top: 1px solid #c4c3cc;
    border-bottom: 1px solid #c4c3cc;
    padding: 5px;
    margin-top: -25px;
    margin-bottom: 20px;
    background-color: #eee;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a {
    color: #547b8c;
}

nav ul li a:hover {
    color: #041f42;
}

/*----------------------------------------------------
Some page headings
-----------------------------------------------------*/

/* used for the headings on pages like "Your Sundae Cart" */

.pageHeading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    color: #375777;
}

.pageHeading2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #375777;
}

/* class for choice headings on page, ie Flavors, Toppings etc. */
.choiceHeadings {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: #375777;
}

/*----------------------------------------------------
buttons
-----------------------------------------------------*/

/* Update button edit page */

.editButton {
    margin-top: 15px;
}

.continueEmpty {
    margin-top: 20px;
}

.continueOrder {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Updatebutton {
    margin-top: 5px;
    margin-bottom: 5px;
}

.deletebutton {
}

.checkoutButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.continueShoppingButton {
    margin-bottom: 20px;
}

/* Quantity text field edit page */

.quantityEdit {
    margin-bottom: 10px;
}

/*----------------------------------------------------
Text
-----------------------------------------------------*/

/* Class for flavor names and other labels on site (like size flavor in basket)*/
.flavorName {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #375777;
}

.orderNumber {
    color: #547b8c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}


/* flavor descriptions on show, cart, and review order pages */
.flavorNameReview {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #375777;
}

.flavorDescription {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #041f42;
}

.cartDescription {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: #041f42;
}

.reviewDescription {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #041f42;
}
/*------------------------------------------------
  Image manipulation
/*------------------------------------------------*/

.titlePic {
    height: 80px;
    width: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.flavorPicReview {
    display: inline-block;
    height: 200px;
    width: 250px;
}

/* index picture */
.indexPic {
    width: 100%;
}

/* resizing images on the show cart page */
.flavorPicCart {
    display: inline-block;
    height: 350px;
    width: 400px;
}

/* resizing images on the show flavors page */
.flavorPicture {
    display: inline-block;
    height: 80%;
    width: 80%;
}

.orderPlacedPicture {
    display: inline-block;
    height: 200px;
    width: 250px;
}

#quantityShow {
    margin-left: 80px;
}

/*----------------------------------------------------
Errors and alerts, taken and modified from foobooks
-----------------------------------------------------*/
.error {
    list-style-type: none;
    color: #8c1d2c; /* red */
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: italic;
}

.alert {
    background-color: #5db7ae;
    color:white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

ul.alert {
    list-style-type: none;
}

.success {
    color: #a6edd1; /* greenish */
}

.details {
    font-size: 1.1rem;
    font-style: italic;
}


