
/*----------------------------------------------------
Main body styling, some taken from foobooks master project example
-----------------------------------------------------*/
/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    color: #111;

    /* sticky footer */
    position: relative;
    min-height: 100%;
    max-width: 100%;

}

body {
    text-align: center;

    /* sticky footer - match footer height */
    margin-bottom: 60px;
}

section#main {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
}

footer a {
    color: #547b8c;
}

footer a:link {
    text-decoration: none;
}

footer a:hover {
    color: #041f42;
}
.title {
    color: #183e4c;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/*----------------------------------------------------
Nav bar, based off of foobooks
-----------------------------------------------------*/
nav {
    border-top: 1px solid #c4c3cc;
    border-bottom: 1px solid #c4c3cc;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eee;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a {
    color: #547b8c;
}

nav ul li a:hover {
    color: #041f42;
}

/*----------------------------------------------------
Misc
-----------------------------------------------------*/

/* Order sundae link */
.ViewSundae {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
    color: #547b8c;
}

/* index picture */
.indexPic {
    width: 100%;
}

/* Flavor/Topping heading on show page */

.pageHeading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    color: #375777;
}

/*----------------------------------------------------
Edit page
-----------------------------------------------------*/

/* Update button edit page */

.editButton {
    margin-top: 15px;
}

/* Quantity text field edit page */

.quantityEdit {
    margin-bottom: 15px;
}

/* Class for flavor names */
.flavorName {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: #375777;
}

.flavorDescription {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #041f42;

}

/* class for choice headings on page, ie Flavors, Toppings etc. */
.choiceHeadings {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: #375777;
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/

a.active:link, a.active:visited, a.active:active, a.active:hover {
    color: #18bc9c;
}

/*----------------------------------------------------
Errors and alerts, taken and modified from foobooks
-----------------------------------------------------*/
.error {
    list-style-type: none;
    color: #8c1d2c; /* red */
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: italic;
}

.alert {
    background-color: #5db7ae;
    color:white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

ul.alert {
    list-style-type: none;
}

.success {
    color: #a6edd1; /* greenish */
}

.details {
    font-size: 1.1rem;
    font-style: italic;
}


